body {
    font-family: 'Smythe', system-ui;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-content,
#order-section,
#after-payment-section,
header {
    width: 400px;
}

header {
    background-image: url('./images/bg-burger.png');
    padding: 30px 40px;
    color: #ffffff;
    margin-bottom: 30px;
}
header p {
    margin-top: 0;
}

h1 {
    margin: 0;
}

h2 {
    text-align: center;
}

.item-container {
    border-bottom: 2px solid #dedede;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.item-emoji {
    font-size: 100px;
    margin: 0;
}

.item-name {
    margin-bottom: 0;
}

.item-ingredients {
    margin: 5px 0;
}

.item-info {
    display: flex;
    gap: 20px;
}

.add-to-cart-btn {
    font-family: Inter;
    align-self: center;
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 25px;
}

.add-to-cart-btn:hover {
    border: 1px solid black;
}

/* order section */
#order-section {
    display: none;
}

.order-item,
.total-price {
    display: flex;
    justify-content: space-between;
}

.order-item p {
    margin: 3px 0;
}

.total-price {
    border-top: 2px solid #393333;
    margin-top: 15px;
}

.remove-item-btn {
    border: none;
    background-color: white;
}
.remove-item-btn:hover {
    cursor: pointer;
    color: red;
}

#complete-order-btn {
    background-color: #16db99;
    color: white;
    border: none;
    border-radius: 2px;
    width: 100%;
    display: block;
    padding: 15px 0;
    margin-bottom: 10px;
}

/* modal */
#modal {
    display: none;
    width: 350px;
    height: 350px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0px 0px 100px 5px #666;
}

#after-payment-p {
    display: none;
    background-color: #ecfdf5;
    color: #065f46;
    padding: 30px 60px;
}
#after-payment-section {
    text-align: center;
}

.light {
    opacity: 0.6;
}

.bold {
    font-weight: bold;
}
